.main_title_content{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-top:9px;
}
.logo_img{
    width: 250px;
    display: flex;
    margin: auto;
    border-style: solid ;
    border-color: white;
    border-radius: 50%;
    background-color: #ffffff;
}
.main__form{
    display: flex;
    flex-direction: column;
    width: 16vw;
    padding: 5px;
    gap: 15px;
    margin: auto;
    margin-top: 1vw;
}
.inputs_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.username_form{
    font-weight: 300;
    color:rgb(0, 0, 0);
    font-size: 16px;
}
.input_form{
    background-color: #ffffff00;
    padding: 10px;
   
   border: none;
   border-bottom: 1px solid black;
}
.input_form:focus{
    outline: none;
    background-color:rgb(239, 255, 252);
}
.input_form:hover{
    background-color: rgb(239, 255, 252);
    transition: .5s;
   
}
.input_form::placeholder{
color:  #838383;
}
.form_button{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-bottom: 6px solid white;
    border-right: 5px solid white;
    border-color: white;

}

.form_button:hover{
    background-color: #fffffff7;
    color: black;
    transition: .5s;
     border-right: 5px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 2px;
}
.remember_me_container{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin: auto;
    align-items: center;

}
.radio_input{
    cursor: pointer;
}
.forgot_password_link{
    color: black;
    margin: auto;

}
.forgot_password_link:hover{
    color: aliceblue;
    transition: .4s;
}
