.nav_bar{
    display: flex;
    justify-content: center;
}
.nav_bar__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25vw;
    padding: 10px;
    gap: 60px;
}
.nav_item{
 list-style: none;
}
.nav_link{
 color: white;
 text-decoration: none;
}
.nav_link:hover{
    background-color: rgba(204, 204, 204, 0.572);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    transition: .4s;
}